@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v51-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/roboto-v51-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v51-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v51-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v51-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v51-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v51-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  --color-primary: #011c44;
  font-style: normal;
  line-height: 1.16;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
:root {
  --color-brand: #2b7fff;
  --color-primary: #011c44;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visualli-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}

/*  хедер */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header-link {
  color: var(--color-primary);
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s;
}
.header-link:hover {
  font-weight: 700;
  color: var(--color-brand);
  text-decoration: underline;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.header-nav > a {
  fill: var(--color-brand);
}

/* кнопки контактов в хедере */
.header-contact {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* первая секция */
.hero-section {
  padding: 122px 0 126px 0;
  background-image: url('../images/girle-procedure.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.hero-container {
  margin-left: 105px;
}
.hero-title {
  margin-bottom: 40px;
  width: 530px;
  font-family: 'Play', sans-serif;
  color: var(--color-brand);
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.81;
}
.name-work {
  font-size: 18px;
}

/* кнопка */
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
  box-sizing: border-box;
  font-weight: 600;
  background: #2b7fff;
  border: none;
  outline: none;
  border-radius: 32px;
  cursor: pointer;
  width: 219px;
  height: 53px;
  margin-bottom: 14px;
}
.button:hover {
  border: 2px solid var(--color-brand);
  color: var(--color-primary);
  background-color: transparent;
}
/* второй параграф первой секции */
.consultation {
  color: #4a4a4a;
  width: 240px;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 20px;
}

/* вторая секция */
.section-about-us-section {
  padding: 0 0 88px 0;
}
.second-title {
  font-family: 'Play', sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
}
.professional-services {
  margin-bottom: 40px;
}
.second-title .accent {
  color: #2b7fff;
  text-transform: capitalize;
}
.professional-services {
  font-size: 22px;
  line-height: 1.73;
}
.service {
  font-size: 22px;
  line-height: 1.73;
}
.service span {
  font-weight: 600;
  text-transform: capitalize;
}

.transformation-section {
  display: flex;
  gap: 32px;
  position: relative;
}
.transformation-text {
  display: flex;
  flex-direction: column;
  flex-basis: 709px;
}
/* картинки второй секции */
.transformation-images {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}
.transformation-images > img {
  border-radius: 50%;
  width: 327px;
  height: 327px;
}
/* размещаю фотки в шахматном порядке */
.transformation-images img:first-child {
  align-self: flex-start;
}
.transformation-images img:last-child {
  align-self: flex-end;
}
/* размещение звёздочек */
.svg-star-1 {
  position: absolute;
  top: 336px;
  left: 858px;
}
.svg-star-2 {
  position: absolute;
  top: 32px;
  right: 74px;
  fill: var(--color-brand);
}
/* третья секция - почему люди выбирают нас */
.section-why-us-section {
  background: linear-gradient(
    38.2deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}
.card-list {
  display: flex;
  gap: 56px;
  padding: 0 90px;
}
.card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
}
.card-item > svg {
  fill: var(--color-brand);
  flex-shrink: 0;
}
.section-why-us-section {
  padding: 88px 0 48px 0;
}
.second-title-why {
  font-family: 'Play', sans-serif;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
.second-title-why span {
  color: var(--color-brand);
}
.qualified-specialists,
.professional-equipment,
.our-mission {
  color: #000000;
  font-size: 18px;
  line-height: 1.33;
}

/* четвертая секция- Наши процедуры*/
.section-procedures-section {
  padding: 48px 0 48px 0;
}
.second-title-procedures {
  font-family: 'Play', sans-serif;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
.second-title-procedures span {
  color: var(--color-brand);
}
.masks,
.injections,
.cleansing {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.18;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 372px;
  right: 77px;
  bottom: 32px;
  left: 115px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  border-radius: 4px 120px;
}

.procedures-images {
  border-radius: 4px 120px;
}
.procedures-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.procedures-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100%-32px) / 3);
  transition: transform 0.3s;
  position: relative;
}
.procedures-item:hover {
  transform: scale(1.05);
}
/* стрелки */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}
.carousel-button:hover {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}
.carousel-button.next {
  transform: rotate(180deg);
}
.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

/* Как нас найти */
.contact-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contact-map {
  display: flex;
  width: 605px;
  height: 481px;
  border-radius: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 423px;
  height: 481px;
  padding: 48px 56px;
  background-color: var(--color-primary);
  border-radius: 32px;
}
.section-contacts-section {
  padding: 48px 0 96px 0;
}
.address {
  font-family: 'Play', sans-serif;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
.address span {
  color: var(--color-brand);
}
.sign-up {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
}
.sign-up span {
  color: var(--color-brand);
}

/* Футер */

.footer {
  background-color: var(--color-primary);
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 48px 0;
}

/* делю на блоки футер */
.footer-logo {
  display: flex;
  fill: var(--color-brand);
  flex-shrink: 0;
  width: 83px;
  height: 42px;
  justify-content: flex-start;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer-nav ul,
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-address-list {
  margin-bottom: 16px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-style: normal;
}
.footer-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
}

/* классы внутри основных блоков футера */
.footer-link,
.address-link,
.confidentiality {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-link:hover,
.address-link:hover,
.confidentiality:hover {
  font-weight: 700;
  color: var(--color-brand);
  text-decoration: underline;
}

.data-protection {
  color: #747272;
  font-size: 13px;
  line-height: 1.15;
}

/* кнопки контактов в футере */
.footer-contact {
  display: flex;
  gap: 32px;
  stroke: #ffffff;
}

.footer::before {
  position: absolute;
  content: '';
  background-image: url(../images/footer-pipette.png);
  width: 278px;
  height: 213px;
  background-repeat: no-repeat;
  bottom: -61px;
  right: -31px;
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  background-color: var(--color-primary);
  background-image: url(../images/modal-background.png);
  border-radius: 48px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}
/* формы в модальном окне */
.form-field {
  margin-bottom: 24px;
}
.form-label {
  display: block;
}
.form-input {
  padding: 18px 32px;
  width: 310px;
  height: 52px;
  border: 2px solid #747272;
  border-radius: 32px;
  ont-size: 13px;
  line-height: 1.15;
  background-color: transparent;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.form-input::placeholder {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.15;
}
.form-input:focus {
  background: #747272;
  border: none;
  outline: none;
}
.form-button {
  display: block;
  margin: 0 auto 8px;
  width: 281px;
}
.form-button.button:hover {
  background-color: transparent;
  color: #ffffff;
}
.form-i-agree {
  max-width: 215px;
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}
.form-link {
  color: #747272;
  text-underline-offset: 2px;
  text-decoration: underline;
}
