/* Замовити дзвінок *
/* Запишіться безкоштовно та отримайте подарунок */

width: 274px;
height: 52px;

/* beauty landing 2/Н3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
text-align: center;

/* beauty landing 2/background */
color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
