/* pexels-photo-8101532-PhotoRoom 1 */

position: absolute;
width: 278px;
height: 213px;
left: 1193px;
top: 126px;

background: url(pexels-photo-8101532-PhotoRoom.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
