.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
  box-sizing: border-box;
  font-weight: 600;
  background: #2b7fff;
  border: none;
  outline: none;
  border-radius: 32px;
  cursor: pointer;
  width: 219px;
  height: 53px;
  margin-bottom: 14px;
}
.button:hover {
  border: 2px solid var(--color-brand);
  color: var(--color-primary);
  background-color: transparent;
}
