.form {
  &__field {
    margin-bottom: 16px;
  }
  &__field--modal {
    margin-bottom: 24px;
  }
  &__label {
    display: block;
  }
  &__button {
    display: block;
    margin: 0 auto 8px;
    width: 281px;
    &:hover {
      background-color: transparent;
      color: #ffffff;
    }
  }
  &__terms {
    margin: 0 auto;
    max-width: 215px;
    color: #747272;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
  }
  &__link {
    color: #747272;
    text-underline-offset: 2px;
    text-decoration: underline;
  }
}
