.header-link {
  color: var(--color-primary);
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s;
}
.header-link:hover {
  font-weight: 700;
  color: var(--color-brand);
  text-decoration: underline;
}
