.header-link {
  color: var(--color-primary);
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s;
}
.header-link:hover {
  font-weight: 700;
  color: var(--color-brand);
  text-decoration: underline;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
}
