.about-us {
  padding: 0;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 709px;
    gap: 40px;
  }

  &__title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.73;
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    position: relative;
  }
  &__image {
    border-radius: 50%;
    width: 327px;
    height: 327px;

    &:first-of-type {
      align-self: flex-start;
    }
    &:last-of-type {
      align-self: flex-end;
    }
  }

  &__star {
    position: absolute;
    animation-name: star-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &--small {
      top: 32px;
      right: 100px;
      fill: var(--color-brand);
      animation-duration: 2s;
    }
    &--large {
      top: 336px;
      right: 294px;
      animation-delay: 4s;
      animation-direction: reverse;
      animation-duration: 6s;
    }
    &--tiny {
      top: 270px;
      right: 106px;
      animation-duration: 1s;
    }
  }
}

@keyframes star-animation {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.3;
    filter: drop-shadow(0 0 2px #2b7fff);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
    opacity: 1;
    filter: drop-shadow(0 0 12px #2b7fff);
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 2px #2b7fff);
  }
}
