.about-us {
  padding: 0;

  &__container {
    display: block;
    position: relative;

    &__star {
      position: absolute;
    }

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    max-width: 320px;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
      max-width: 709px;
      flex-basis: 709px;
      gap: 40px;
    }
  }

  &__title {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    max-width: 264px;
    line-height: 1.18;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 64px;
      max-width: 100%;
      line-height: 1.18;
      margin-bottom: 0;
    }
  }

  &__text-1 {
    font-size: 18px;
    line-height: 1.17;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      line-height: 1.73;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__text-2 {
    font-size: 18px;
    max-width: 264px;
    line-height: 1.17;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      max-width: 100%;
      line-height: 1.73;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__images {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 500px;
      position: relative;
    }
  }
  &__image {
    border-radius: 50%;
    width: 327px;
    height: 327px;

    &:first-of-type {
      align-self: flex-start;
    }
    &:last-of-type {
      align-self: flex-end;
    }
  }

  &__star {
    &--mobile {
      right: 20px;
      bottom: 0px;
      display: block;
      animation: mobile-star 4s ease-in-out infinite;

      @media screen and (min-width: $bp-tablet) {
        right: 40px;
        bottom: 40px;
      }

      @media screen and (min-width: $bp-desktop) {
        display: none;
      }
    }

    position: absolute;
    animation-name: star-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &--small {
      top: 32px;
      right: 100px;
      fill: var(--color-brand);
      animation-duration: 2s;
    }
    &--large {
      top: 336px;
      right: 294px;
      animation-delay: 4s;
      animation-direction: reverse;
      animation-duration: 6s;
    }
    &--tiny {
      top: 270px;
      right: 106px;
      animation-duration: 1s;
    }
  }
}

@keyframes star-animation {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.3;
    filter: drop-shadow(0 0 2px #2b7fff);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
    opacity: 1;
    filter: drop-shadow(0 0 12px #2b7fff);
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 2px #2b7fff);
  }
}

@keyframes mobile-star {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }

  25% {
    transform: rotate(15deg) scale(1.1);
    opacity: 1;
  }

  50% {
    transform: rotate(0deg) scale(1.25);
    opacity: 0.8;
  }

  75% {
    transform: rotate(-15deg) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }
}
