.footer {
  background-color: var(--color-primary);
  background-image: url(../images/modal-background.png);
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 66px;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      padding: 48px 0;
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    width: 57px;
    height: 30px;
    margin-bottom: 26px;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      width: 83px;
      height: 42px;
      padding-bottom: 0;
      justify-content: flex-start;
    }
  }

  &__nav,
  &__address,
  &__info {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__info {
    gap: 16px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__address {
    font-style: normal;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0; // НОВОЕ: Убираем дефолтный отступ браузера для идеальной центровки
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__address-list {
    display: none;
    padding-left: 0;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  &__contact {
    display: flex;
    gap: 32px;
    stroke: #ffffff;
    padding-left: 0;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__link,
  &__address-link,
  &__confidentiality {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      font-weight: 700;
      color: var(--color-brand);
      text-decoration: underline;
    }
  }

  &__data-protection {
    color: #747272;
    font-size: 13px;
    line-height: 1.15;
  }

  &::before {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      content: '';
      background-image: url(../images/footer-pipette.png);
      width: 278px;
      height: 213px;
      background-repeat: no-repeat;
      bottom: -61px;
      right: -31px;
    }
  }
  @media screen and (max-width: ($bp-tablet - 1px)) {
    .footer {
      &__address,
      &__info {
        display: contents;
      }

      &__confidentiality {
        order: 3;
        text-align: center;
      }

      &__contact {
        order: 4;
      }

      &__data-protection {
        order: 5;
        text-align: center;
      }
    }
  }
}
