.procedures {
  padding: 48px 0 48px 0;

  &__title {
    font-family: 'Play', sans-serif;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  // &__item {
  //   display: flex;
  //   flex-direction: column;
  //   flex-basis: calc((100% - 32px) / 3);
  //   transition: transform 0.3s;
  //   position: relative;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__images {
    border-radius: 4px 120px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    );
    border-radius: 4px 120px;
  }

  &__text {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.18;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 372px;
    right: 77px;
    bottom: 32px;
    left: 115px;
  }
}
